@font-face {
  font-family: "Baskerville";
  font-weight: 300;
  font-display: swap;
  src:
    url("../fonts/Baskerville-Light.woff") format("woff"),
    url("../fonts/Baskerville-Light.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-display: swap;
  src:
    url("../fonts/Montserrat-Medium.woff") format("woff"),
    url("../fonts/Montserrat-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 900;
  font-display: swap;
  src:
    url("../fonts/Montserrat-Black.woff") format("woff"),
    url("../fonts/Montserrat-Black.woff2") format("woff2");
}

@font-face {
  font-family: "Playfair Display";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/PlayfairDisplay-Regular.woff") format("woff"),
    url("../fonts/PlayfairDisplay-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Marck Script";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/MarckScript-Regular.woff") format("woff"),
    url("../fonts/MarckScript-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Roboto Slab";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/RobotoSlab-Regular.woff") format("woff"),
    url("../fonts/RobotoSlab-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Wire One";
  font-weight: 400;
  font-display: swap;
  src:
    url("../fonts/WireOne-Regular.woff") format("woff"),
    url("../fonts/WireOne-Regular.woff2") format("woff2");
}

$font-header: "Baskerville", "Arial Black", sans-serif;
$font-main: "Montserrat", "Arial Black", sans-serif;

$font-academ-standart: "Montserrat", "Arial Black", sans-serif;
$font-academ-bold: "Montserrat", "Arial Black", sans-serif;
$font-academ-art: "Playfair Display", "Arial Black", sans-serif;
$font-italic: "Marck Script", "Arial Black", sans-serif;
$font-squared: "Roboto Slab", "Arial Black", sans-serif;
$font-raised: "Wire One", "Arial Black", sans-serif;
